/* fonts  */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Common styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

/* nav bar styles */

.navbar {
  width: 100%;
  height: 6vh;
  margin-top: 10vh;
}

nav {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.logo {
  width: 50vw;
}
.logo h1 a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  margin-left: 20%;
}
.menu {
  width: 50vw;
}
.menu ul {
  display: flex;
  margin-left: 20%;
}
.menu ul li {
  margin-left: 2em;
  list-style-type: none;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  transition: color 0.3s linear;
}

.menu ul li a:hover {
  color: orange;
}

/* nav bar section ends here  */

/* header section starts here  */

header{
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left_side{
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 8%;
    padding-right: 6%;
}
.left_side h1{
    font-size: 3.5em;
    font-weight: bold;
}
.left_side p{
    font-weight: 600;
}
.left_side a{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px;
    width: 150px;
    border-radius: 50px;
    font-size: 1.2em;
    transition: all .2s linear;
}
.left_side a:hover{
    border-radius: 5px;
}

.right_side{
    height: 100%;
    width: 50vw;
    display: flex;
    align-items: center;
}
.right_side img{
    width: 440px;
    height: 440px;
    background-image: url(images/Circle\ design.svg);
    background-position: 0 0px;
    background-repeat: no-repeat;
    background-size: 400px;
    margin-left: 20%;
}

/* header ends here  */

/* companies section starts here  */

.companies{
    width: 100vw;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.company{
    width: 70vw;
    height: 10vh;
    border-top: 2px solid rgb(210, 210, 210);
    border-bottom: 2px solid rgb(210, 210, 210);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* company section ends here  */

/* product section starts here  */