/* fonts  */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Common styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

/* nav bar styles */

nav {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 6vh;
  margin-top: 8vh;
  margin-bottom: 10vh;
}
nav a {
  text-decoration: none;
}
.logo {
  width: 50vw;
}
.logo i {
  display: none;
}
.logo h1 a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  margin-left: 20%;
}
.menu {
  width: 50vw;
}
.menu ul {
  display: flex;
  margin-left: 20%;
}
.menu ul li {
  margin-left: 2em;
  list-style-type: none;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  transition: all 0.3s linear;
}

.menu ul li a:hover {
  color: orange;
}

/* nav bar section ends here  */

/* header section starts here  */

header {
  min-height: 60vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left_side {
  animation: left_ani 1s 0.1s 1 forwards;
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@keyframes left_ani {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 5vw;
    padding-left: 8%;
    padding-right: 6%;
  }
}
@keyframes right_ani {
  from {
    margin-right: 0;
  }
  to {
    margin-right: 10%;
  }
}
.left_side h1 {
  font-size: 3.5em;
  font-weight: bold;
}
.left_side p {
  font-weight: 600;
}
.left_side a {
  text-decoration: none;
  color: white;
  background-color: #e02c6d;
  padding: 10px;
  width: 150px;
  border-radius: 50px;
  font-size: 1.2em;
  transition: all 0.2s linear;
}
.left_side a:hover {
  border-radius: 5px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.right_side {
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
  animation: right_ani 1s 0.1s 1 forwards;
}
.right_side img {
  width: 440px;
  height: 440px;
  background-image: url(images/Circle\ design.svg);
  background-position: 0 0px;
  background-repeat: no-repeat;
  background-size: 400px;
  margin-left: 20%;
}

/* header ends here  */

/* companies section starts here  */

.companies {
  width: 100vw;
  min-height: 14vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.company {
  width: 70vw;
  min-height: 10vh;
  border-top: 2px solid rgb(210, 210, 210);
  border-bottom: 2px solid rgb(210, 210, 210);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* company section ends here  */

/* product section starts here  */

.products {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.products_title {
  font-size: 28px;
  text-align: center;
  margin: 5vh 0;
}
.collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 60vw;
}
.product {
  margin-right: 30px;
  margin-bottom: 30px;
  min-height: 500px;
  padding: 5%;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  transition: all 0.2s linear;
}
.product h1 {
  font-size: 28px;
  font-weight: bold;
}

.product .cost {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.product .rating {
  color: orange;
}
.rating span {
  color: black;
}
.product .detail {
  margin-top: 5px;
}

.product img {
  max-width: 300px;
  height: 256px;
}
.product:hover {
  transform: scale(1.05);
  box-shadow: 1px -1px 20px 0px rgb(82 71 71 / 48%);
}
.products a {
  text-decoration: none;
  font-weight: bold;
  color: #e02c6d;
  font-size: 1.2em;
  margin-left: 50%;
  transition: all 0.2s linear;
  margin-top: 3vh;
}
.products a:hover {
  color: orange;
  text-decoration: underline;
}

/* products section ends here  */

/* about section starts here  */

.about {
  width: 100vw;
  min-height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about_text {
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 8%;
  padding-right: 6%;
}
.about_text h1 {
  font-size: 3.5em;
  font-weight: bold;
}
.about_text p {
  font-weight: 600;
}
.about_text a {
  text-decoration: none;
  color: white;
  background-color: #e02c6d;
  padding: 10px;
  width: 150px;
  border-radius: 50px;
  font-size: 1.2em;
  transition: all 0.2s linear;
}
.about_text a:hover {
  border-radius: 5px;
}

.about_image {
  height: 100%;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.about_image img {
  width: 30vw;
  height: 30vh;
}

/* about section ends here  */

/* footer starts here   */

footer {
  background-color: #112;
  width: 100vw;
  min-height: 25vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0;
}
footer .links a {
  color: white;
  text-decoration: none;
  margin-left: 1vw;
  font-size: 25px;
  transition: all 0.3s linear;
  background-color: #111;
}
.links a:hover {
  color: orange;
}

/* ----------
Mobile and Tablet version 
-------- */

@media only screen and (max-width: 688px) {
  nav {
    margin-top: 5vh;
  }
  .logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
  }
  .logo h1 a {
    font-size: 24px;
    margin: auto;
    float: right;
  }

  .logo i {
    display: block;
    font-size: 24px;
    color: black;
  }
  .menu {
    display: none;
  }
  header {
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .right_side {
    width: 100vw;
    margin-bottom: 5vh;
    animation: top_ani 1s 0.1s 1 forwards;
  }
  @keyframes top_ani {
    from {
      margin-top: -10vh;
    }
    to {
      margin-top: 1vh;
    }
  }
  .right_side img {
    width: 250px;
    height: 250px;
    background-size: 220px;
    margin: auto;
  }
  .left_side {
    width: 100vw;
    text-align: center;
    animation: bottom_ani 1s 0.1s 1 forwards;
  }
  @keyframes bottom_ani {
    from {
      margin-bottom: -10vh;
    }
    to {
      margin-bottom: 1vh;
    }
  }
  .left_side h1 {
    font-size: 2em;
  }
  .left_side a {
    margin: auto;
    margin-bottom: 50px;
  }
  .company {
    width: 100vw;
    border: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    place-items: center;
  }
  .products {
    margin: 50px 0;
  }
  .products a {
    margin: auto;
    margin-top: 30px;
  }
  .collection {
    grid-template-columns: repeat(1, 1fr);
    width: 100vw;
  }
  .product {
    margin: 10px auto;
  }
  .about {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
  .about_text,
  .about_image {
    width: 100vw;
  }
  .about_text {
    margin-bottom: 30px;
  }
  .about_text a {
    margin: auto;
  }
  .about_text h1 {
    font-size: 2.5em;
  }
  .about_image {
    background-image: none;
    width: 100vw;
    justify-content: center;
  }
  .about_image img {
    width: 90vw;
    margin-bottom: 30px;
  }
  footer {
    width: 100vw;
    height: 40vh;
  }
  footer h1,
  footer p {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 1018px) and (min-width: 688px) {
  nav {
    margin-top: 5vh;
  }
  .logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
  }
  .logo h1 a {
    font-size: 28px;
    margin: auto;
    float: right;
  }

  .logo i {
    display: block;
    font-size: 28px;
    color: black;
  }
  .logo a {
    text-decoration: none;
  }
  .menu {
    display: none;
  }
  header {
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .right_side {
    width: 100vw;
    margin-bottom: 5vh;
    animation: none;
  }
  .left_side {
    animation: none;
    padding: 20px;
  }
  .right_side img {
    width: 280px;
    height: 280px;
    background-size: 220px;
    margin: auto;
  }
  .left_side {
    width: 100vw;
    text-align: center;
  }
  .left_side h1 {
    font-size: 2em;
  }
  .left_side a {
    margin: auto;
  }
  .company {
    width: 100vw;
    /* border: none; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 30px;
    place-items: center;
  }
  .products {
    margin: 10px 0;
  }
  .products a {
    margin: 3vh auto;
  }
  .collection {
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
  }
  .product {
    margin: 10px auto;
  }
  .about {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
  .about_text,
  .about_image {
    width: 100vw;
  }
  .about_text {
    margin-bottom: 20px;
  }
  .about_text a {
    margin: auto;
  }
  .about_text h1 {
    font-size: 2.5em;
  }

  .about_image {
    justify-content: center;
  }
  .about_image img {
    width: 60vw;
    height: 40vh;
  }
  footer {
    width: 100vw;
    height: 35vh;
  }
  footer h1,
  footer p {
    font-size: 1.2em;
    line-height: 30px;
  }
}
@media only screen and (max-width: 1440px) and (min-width: 1018px) {
  nav .logo h1 a {
    font-size: 1.3em;
    margin-left: 15%;
  }
  .menu ul {
    margin-left: 0%;
  }
  .menu ul li a {
    font-size: 1.2em;
  }
  .companies {
    margin-top: 5vh;
  }
  .left_side h1 {
    font-size: 2.2em;
  }
  .products {
    margin: 10px 0;
  }
  .products a {
    margin: 3vh auto;
  }
  .collection {
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
  }
  .product {
    margin: 10px auto;
  }
  .about_text h1 {
    font-size: 2em;
  }
  .about_image {
    background-image: none;
  }
  footer {
    height: 30vh;
  }
}
